<div class="slider">
  <div class="slide-track" (mouseenter)="pause()" (mouseleave)="play()">

    <div class="slide" *ngFor="let item of proyectos">
      <img [src]="item.iconUrl.replace('&dl=0','&raw=1')" [alt]="item.title" (click)="goTo(item)" />
      <h6>{{item.title}}</h6>
    </div>

    <!-- Se duplica para crear bucle infinito -->
    <div class="slide" *ngFor="let item of proyectos">
      <img [src]="item.iconUrl.replace('&dl=0','&raw=1')" [alt]="item.title" (click)="goTo(item)" />
      <h6>{{item.title}}</h6>
    </div>
  </div>
</div>


