<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid mx-2">
    <!-- Logo -->
    <div class="value-circle position-relative d-flex align-items-center justify-content-center me-2">
      <img
        [src]="IconUrl"
        alt="SoulSync Logo Animado"
        class="value-video"
      >
    </div>
    <a class="navbar-brand text-truncate d-inline-block" href="SoulSync">
      {{title}}
    </a>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú -->
    <div class="collapse navbar-collapse pt-2 pt-sm-0" id="navbarNavDropdown">
      <!-- Botón de cierre visible solo en móvil -->
        <div class="d-flex justify-content-end pe-4">
            <button type="button" class="btn-close btn-close-white d-lg-none me-3"
            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-label="Cerrar"></button>
        </div>

      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a class="nav-link" href="/about">Nuestra Esencia</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Rutas de conexión
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let service of servicios">
              <a class="dropdown-item" (click)="goTo(service)" >{{service.title}}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Conectemos"  rel="noopener noreferrer">Conectemos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]='gCalendar' target="_blank">Agendar Gratis!!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
